:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;
}
