* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: var(--content-primary);
  font-family: var(--font-inter-tight);
  height: 100vh;
  overflow: hidden;
}

nav {
  font-family: 'Familjen Grotesk', 'sans serif';
  font-weight: 800;
  display: flex;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  color: var(--background-brand);
  height: 3rem;
  max-width: 9.5625rem;
  background-color: var(--logo-background);
  border-radius: 0 0 20px 0;
  gap: 4px;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

#page {
  padding: 62px 80px;
  display: flex;
  /*   position: fixed;
 */
}

main {
  height: calc(100vh - 3rem - 62px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  width: 711px;

  & .main-header {
    display: flex;
    padding: 0 0 32px 0;
    background-color: var(--background-primary);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.432);
    z-index: 10;
    justify-content: space-between;
  }
}

#list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  margin-bottom: 50px;

  /* Esconde scrollbar no Chrome, Edge e Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Esconde scrollbar no Firefox */
  scrollbar-width: none;

  /* Esconde scrollbar no Internet Explorer e Edge Legacy */
  -ms-overflow-style: none;
}

.schedule-container {
  list-style: none;
  background-color: var(--background-tertiary);
  border-radius: 10px;
  font: var(--p-sm);

  & header {
    display: flex;
    padding: 0.875rem;
    justify-content: space-between;
    font: var(--label-md);
  }

  & .day {
    gap: 12px;
    display: flex;
  }

  & .schedule {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    padding: 16px 19.5px;
  }

  & .pet-owner {
    color: var(--content-secondary);
  }

  & .service {
    color: var(--content-secondary);
  }

  & .remove {
    color: var(--content-secondary);
  }
}

aside {
  margin: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;

  & button {
    width: 20rem;
    height: 5rem;
    background-color: var(--content-brand);
    border-radius: 10px;
    border: none;
    font: var(--label-md);
  }

  button:active {
    /* Styles applied when the button is clicked */
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #6459ac;
  }
}

.date-container input {
  font: var(--p-lg);
  width: 100%;
  height: 100%;
  border: solid 1px #5f5f5f;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  color: rgb(138, 138, 138);
  padding: 10px;
  transition: border-color ease 1s;
}

.date-container input:hover {
  transition: ease 1s;
  border: solid 1px white;
}

.date-container input:focus {
  border: solid 1px #6459ac;
  outline: none;
  background-color: #6459ac;
  color: white;
}

/* Estiliza o ícone do calendário */
input[type='date']::-webkit-calendar-picker-indicator {
  background: url(../assets/icons/arrow-down-icon.svg);
  cursor: pointer;
}

input[type='date'] {
  background: url(../assets/icons/calendar-icon.svg) no-repeat left 12px center;
  background-size: 18px;
  padding-left: 40px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: #23242c(0, 0, 0, 0.4); /* escurece o fundo */

  backdrop-filter: blur(6px); /* desfoca o fundo */
  -webkit-backdrop-filter: blur(6px); /* para Safari */

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000; /* fica acima do conteúdo */
}

.modal {
  color: white;
  background: #23242c;
  padding: 32px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  animation: show 0.3s ease forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Formulário */

.modal > form {
  display: flex;
  flex-direction: column;

  & h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  & p {
    color: var(--content-secondary);
    font-size: 12px;
    margin-bottom: 28px;
  }

  & label {
    margin-bottom: 5px;
  }

  & label + input {
    margin-bottom: 1rem;
  }

  & input[type='text'] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border-primary);
    background-color: #23242c;
    transition: border-color ease 1s;
  }

  #input-owner-name {
    background: url(../assets/icons/user-icon.svg) no-repeat left 12px center;
    padding: 10px 10px 10px 40px;
  }

  & #phone-number {
    background: url(../assets/icons/phone-icon.svg) no-repeat left 12px center;
    padding: 10px 10px 10px 40px;
  }

  & #input-pet-name {
    background: url(../assets/icons/pet-paw-icon.svg) no-repeat left 12px center;
    padding: 10px 10px 10px 40px;
  }

  & textarea {
    padding: 5px;
    height: 5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #23242c;
    font: var(--font-inter-tight);
    transition: border-color ease 1s;
  }

  & input[type='date'] {
    font: var(--p-lg);
    width: 100%;
    height: 100%;
    border: solid 1px #5f5f5f;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    color: rgb(138, 138, 138);
    padding: 10px 10px 10px 40px;
    transition: border-color ease 1s;
    left: 2rem;
    transition: border-color ease 1s;
  }

  & input[type='time'] {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(138, 138, 138);
    transition: border-color ease 1s;
  }

  & input:hover,
  textarea:hover {
    transition: ease 1s;
    border: solid 1px white;
  }
}

/* Botão do formulário */
form > button {
  width: 7.68rem;
  height: 3rem;
  background-color: var(--content-brand);
  border-radius: 10px;
  border: none;
  font: var(--label-md);
}

button:active {
  /* Styles applied when the button is clicked */
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #6459ac;
}
